.destn{
    display: inline-flex;
        width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    /* text-align: justify; */
    text-align: center;
    /* background-color: blue; */
}
.destn::-webkit-scrollbar {
    background: none;
  }
.destnTitle{
    margin-top:10px;
    padding: 20px;
    font-size:x-large;
    font-weight: bold;
    background-image: linear-gradient( 76.3deg,  rgba(44,62,78,1) 12.6%, rgba(69,103,131,1) 82.8% );
    color: white;
}
.destnCard{
    margin: 5px;
}

.destnCard::-webkit-scrollbar{
    background: none;
}
.destn .Cardbody::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}